Installing Modules

In [ ]:
pip install numpy
pip install pandas
pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Exploring your working directory

In [ ]:
ls

Importing entire text files

In [ ]:
# Open a file: file
file = open('seaslug.txt', mode='r')

# Print it
print(file.read())

# Check whether file is closed
print(file.closed)

# Close file
file.close()

# Check whether file is closed
print(file.closed)

Importing text files line by line

context manager
* with open('huck_finn.txt') as file:

In [ ]:
# Read & print the first 3 lines
with open('seaslug.txt') as file:
    print(file.readline())
    print(file.readline())
    print(file.readline())

Why we like flat files and the Zen of Python

In [ ]:
import this

Using NumPy to import flat files

In [ ]:
# Import package
import numpy as np

# Assign filename to variable:
file = 'digits.csv'

# Load file as array:
digits = np.loadtxt(file, delimiter=',')

# Print datatype of digits
print(type(digits))

# Select and reshape a row
im = digits[21, 1:]
im_sq = np.reshape(im, (28, 28))

# Plot reshaped data (matplotlib.pyplot already loaded as plt)
plt.imshow(im_sq, cmap='Greys', interpolation='nearest')
plt.show()

Customizing your NumPy import

In [ ]:
# Import numpy
import numpy as np

# Assign the filename:
file = 'digits_header.txt'

# Load the data:
data = np.loadtxt(file, delimiter='\t', skiprows=1, usecols=(0,2))

# Print data
print(data)

Importing different datatypes

In [ ]:
# Assign filename:
file = 'seaslug.txt'

# Import file:
data = np.loadtxt(file, delimiter='\t', dtype=str)

# Print the first element of data
print(data[0])

# Import data as floats and skip the first row: data_float
data_float = np.loadtxt(file, delimiter='\t', dtype=float, skiprows=1)

# Print the 10th element of data_float
print(data_float[9])

# Plot a scatterplot of the data
plt.scatter(data_float[:, 0], data_float[:, 1])
plt.xlabel('time (min.)')
plt.ylabel('percentage of larvae')
plt.show()

Working with mixed datatypes (1)
* data = np.genfromtxt('titanic.csv', delimiter=',', names=True, dtype=None)
* results in a structured array

In [ ]:
data = np.genfromtxt('titanic.csv', delimiter=',', names=True, dtype=None)

In [ ]:
print(data[0],'\n') #printing entries by the index.

print(data['Fare']) #printin a column by its name.

Working with mixed datatypes (2)

* There is also another function np.recfromcsv() that behaves similarly to np.genfromtxt(), except that its default dtype is None
* You'll only need to pass file to it because it has the defaults delimiter=',' and names=True in addition to dtype=None!

In [ ]:
# Assign the filename:
file = 'titanic.csv'

# Import file using np.recfromcsv:
d = np.recfromcsv(file)

# Print out first three entries of d
print(d[:3])

Using pandas to import flat files as DataFrames (1)

In [ ]:
# Import pandas as pd
import pandas as pd

# Assign the filename:
file = 'titanic.csv'

# Read the file into a DataFrame:
df = pd.read_csv(file)

# View the head of the DataFrame
print(df.head())

Using pandas to import flat files as DataFrames (2)

In [ ]:
# Assign the filename:
file = 'digits.csv'

# Read the first 5 rows of the file into a DataFrame:
data = pd.read_csv(file, nrows=5, header=None)

# Build a numpy array from the DataFrame: data_array
data_array= data.values

# Print the datatype of data_array to the shell
print(type(data_array))

Customizing your pandas import

In [ ]:
# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Assign filename:
file = 'titanic_corrupt.txt'

# Import file:
data = pd.read_csv(file, sep='\t', comment='#', na_values='Nothing')

# Print the head of the DataFrame
print(data.head())

# Plot 'Age' variable in a histogram
pd.DataFrame.hist(data[['Age']])
plt.xlabel('Age (years)')
plt.ylabel('count')
plt.show()

os library

In [ ]:
import os
wd = os.getcwd()
os.listdir(wd)

Loading a pickled file

In [ ]:
# Import pickle package
import pickle

# Open pickle file and load data:
with open('data.pkl', mode='rb') as file:
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

Listing sheets in Excel files

In [ ]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename:
file = 'battledeath.xlsx'

# Load spreadsheet:
xls = pd.ExcelFile(file)

# Print sheet names
print(xls.sheet_names)

Importing sheets from Excel files

In [ ]:
# Load a sheet into a DataFrame by name:
df1 = xls.parse('2004')

# Print the head of the DataFrame df1
print(df1.head())

# Load a sheet into a DataFrame by index:
df2 = xls.parse(0)

# Print the head of the DataFrame df2
print(df2.head())

Customizing your spreadsheet import

In [ ]:
# Parse the first sheet and rename the columns:
df1 = xls.parse(0, skiprows=[0], names=['Country','AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column:
df2 = xls.parse(1, usecols=[0], skiprows=[0], names=['Country'])

# Print the head of the DataFrame df2
print(df2.head())

Importing SAS files

In [ ]:
# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame:
with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
print(df_sas.head())

# Plot histogram of DataFrame features (pandas and pyplot already imported)
pd.DataFrame.hist(df_sas[['P']])
plt.ylabel('count')
plt.show()

Using read_stata to import Stata files

In [ ]:
df = pd.read_stata('disarea.dta')

Importing Stata files

In [ ]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame:
df = pd.read_stata('disarea.dta')

# Print the head of the DataFrame df
print(df.head())

# Plot histogram of one column of the DataFrame
pd.DataFrame.hist(df[['disa10']])
plt.xlabel('Extent of disease')
plt.ylabel('Number of countries')
plt.show()

Using File to import HDF5 files
* h5py_data = h5py.File(h5py_file, 'r')

Using h5py to import HDF5 files

In [ ]:
# Import packages
import numpy as np
import h5py

# Assign filename:
file = 'LIGO_data.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
print(type(data))

# Print the keys of the file
for key in data.keys():
    print(key)

Extracting data from your HDF5 file

In [ ]:
# Get the HDF5 group:
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

# Set variable equal to time series data:
strain = np.array(data['strain']['Strain'])

# Set number of time points to sample: num_samples
num_samples = 10000

# Set time vector
time = np.arange(0, 1, 1/num_samples)

# Plot data
plt.plot(time, strain[:num_samples])
plt.xlabel('GPS Time (s)')
plt.ylabel('strain')
plt.show()

Loading .mat files

In [ ]:
# Import package
import scipy.io

# Load MATLAB file:
mat = scipy.io.loadmat('albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

The structure of .mat in Python

In [ ]:
# Print the keys of the MATLAB dictionary
print(mat.keys())

# Print the type of the value corresponding to the key 'CYratioCyt'
print(type(mat['CYratioCyt']))

# Print the shape of the value corresponding to the key 'CYratioCyt'
print(np.shape(mat['CYratioCyt']))

# Subset the array and plot it
data = mat['CYratioCyt'][25, 5:]
fig = plt.figure()
plt.plot(data)
plt.xlabel('time (min.)')
plt.ylabel('normalized fluorescence (measure of expression)')
plt.show()

Creating a database engine

In [ ]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

What are the tables in the database?

In [ ]:
# Import necessary module
from sqlalchemy import create_engine 

# Create engine:
engine = create_engine('sqlite:///Chinook.sqlite')

# Save the table names to a list: 
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

SQL Queries

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine:
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection:
con = engine.connect()

# Perform query:
rs = con.execute('select * from album')

# Save results of the query to DataFrame:
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

Customizing the SQL Queries

In [ ]:
# Open engine in context manager
# Perform query and save results to DataFrame:
with engine.connect() as con:
    rs = con.execute("SELECT LastName, Title FROM Employee")
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

Filtering your database records using SQL's WHERE

In [ ]:
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
# Perform query and save results to DataFrame:
with engine.connect() as con:
    rs = con.execute('select * from Employee where EmployeeId >= 6')
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print the head of the DataFrame df
print(df.head())

Ordering your SQL records with ORDER BY

In [ ]:
# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine in context manager
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Employee ORDER BY BirthDate ASC")
    df = pd.DataFrame(rs.fetchall())
    # Set the DataFrame's column names
    df.columns = rs.keys()

# Print head of DataFrame
print(df.head())

Pandas and SQL Queries

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame:
df = pd.read_sql_query('SELECT * FROM Album', con=engine)

# Print head of DataFrame
print(df.head())

#the first query is equal to the second query

# Open engine in context manager and store query result in df1
with engine.connect() as con:
    rs = con.execute("SELECT * FROM Album")
    df1 = pd.DataFrame(rs.fetchall())
    df1.columns = rs.keys()

# Confirm that both methods yield the same result
print(df.equals(df1))

Pandas for more complex querying

In [ ]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('SELECT * FROM Employee WHERE EmployeeId >=6 ORDER BY BirthDate', engine)

# Print head of DataFrame
print(df.head())

The power of SQL lies in relationships between tables: INNER JOIN

In [ ]:
# Open engine in context manager
# Perform query and save results to DataFrame:
with engine.connect() as con:
    rs = con.execute("select Title, Name from Album inner join Artist on Album.ArtistID = Artist.ArtistID ")
    df = pd.DataFrame(rs.fetchall())
    df.columns = rs.keys()

# Print head of DataFrame df
print(df.head())

Filtering your INNER JOIN

In [ ]:
# Execute query and store records in DataFrame:
df = pd.read_sql_query('select * from PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId where Milliseconds < 250000', engine)

# Print head of DataFrame
print(df.head())